        #camada1{
            position: absolute; /* componente absoluto que está sobreposto à página */
            width: 250px;
            height: 200px;
            background-color: aqua;
            border: 5px solid #00f;
            text-align: center;
            top: 200px;
            left: 200px;
            z-index: 1;
        }

        #camada2{
            position: absolute; /* componente absoluto que está sobreposto à página */
            width: 250px;
            height: 200px;
            background-color: rgb(211, 247, 6);
            border: 5px solid rgb(255, 0, 4);
            text-align: center;
            top: 250px; /* posição apartir do topo da página */
            left: 250px; /* posição apartir da esquerda da página */
            z-index: 2;
        }

        #camada3{
            position: absolute; /* componente absoluto que está sobreposto à página */
            top: 400px; /* posição apartir do topo da página */
            left: 400px; /* posição apartir da esquerda da página */
            z-index: 3;
        }

        #camada3 img{
            width: 300px;
            height: 250px;
        }