#azul{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: blue;
    color: #FFF;
    text-align: center;
    top: 10px;
    left: 300px;
    z-index: 1;
}

#vermelha{
    position: absolute;
    width: 800px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    color: #FFF;
    text-align: center;
    top: 10px;
    left: 500px;
    z-index: 1;
}

#verde{
    position: absolute;
    width: 1000px;
    height: 50px;
    background-color: rgb(26, 255, 0);
    color: #000000;
    text-align: center;
    top: 100px;
    left: 300px;
    z-index: 1;
}

#amarela{
    position: absolute;
    width: 1000px;
    height: 650px;
    background-color: rgb(242, 255, 0);
    color: #000000;
    text-align: center;
    top: 150px;
    left: 300px;
    border: 10px solid rgb(255, 0, 0);
    box-sizing: border-box;
    z-index: 1;
}

#cinza{
    position: absolute;
    width: 1000px;
    height: 50px;
    background-color: rgb(115, 115, 115);
    color: #FFF;
    text-align: center;
    top: 800px;
    left: 300px;
    z-index: 1;
}