body{
    background-color: beige;
}

#componente1 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 1000px; /*largura*/
  height: 300px; /*altura*/
  background-color: #ff938e;
  top: 0px;
  left: 250px;
  z-index: 1;
}

#componente2 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 1000px; /*largura*/
  height: 700px; /*altura*/
  background-color: #fff;
  top: 300px;
  left: 250px;
  z-index: 2;
}

#componente3 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 500px; /*largura*/
  height: 50px; /*altura*/
  background-color: #f5f5f5;
  top: 100px;
  left: 500px;
  z-index: 1;
}

#componente4 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 50px; /*largura*/
  height: 50px; /*altura*/
  background-color: #6e6e6e;
  top: 100px;
  left: 1000px;
  z-index: 3;
}

#componente5 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 150px; /*largura*/
  height: 40px; /*altura*/
  background-color: #6e6e6e;
  top: 400px;
  left: 350px; /*esquerda*/
  z-index: 2;
}

#componente6 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 150px; /*largura*/
  height: 40px; /*altura*/
  background-color: #6e6e6e;
  top: 400px;
  left: 550px; /*esquerda*/
  z-index: 2;
}

#componente7 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 150px; /*largura*/
  height: 40px; /*altura*/
  background-color: #6e6e6e;
  top: 400px;
  left: 750px; /*esquerda*/
  z-index: 2;
}

#componente8 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 150px; /*largura*/
  height: 40px; /*altura*/
  background-color: #6e6e6e;
  top: 400px;
  left: 950px; /*esquerda*/
  z-index: 2;
}

#componente9 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 70px; /*largura*/
  height: 10px; /*altura*/
  background-color: #fff;
  top: 415px;
  left: 390px; /*esquerda*/
  z-index: 3;
}

#componente10 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 70px; /*largura*/
  height: 10px; /*altura*/
  background-color: #fff;
  top: 415px;
  left: 590px; /*esquerda*/
  z-index: 3;
}

#componente11 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 70px; /*largura*/
  height: 10px; /*altura*/
  background-color: #fff;
  top: 415px;
  left: 790px; /*esquerda*/
  z-index: 3;
}

#componente12 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 70px; /*largura*/
  height: 10px; /*altura*/
  background-color: #fff;
  top: 415px;
  left: 990px; /*esquerda*/
  z-index: 3;
}

#componente13 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 220px; /*largura*/
  height: 200px; /*altura*/
  background-color: #ff938e;
  top: 515px;
  left: 300px; /*esquerda*/
  z-index: 3;
}

#componente14 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 220px; /*largura*/
  height: 200px; /*altura*/
  background-color: #adadad;
  top: 515px;
  left: 530px; /*esquerda*/
  z-index: 3;
}

#componente15 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 220px; /*largura*/
  height: 200px; /*altura*/
  background-color: #06c2fb;
  top: 515px;
  left: 760px; /*esquerda*/
  z-index: 3;
}

#componente16 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 220px; /*largura*/
  height: 410px; /*altura*/
  background-color: #bfbfbf;
  top: 515px;
  left: 990px; /*esquerda*/
  z-index: 3;
}

#componente17 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 220px; /*largura*/
  height: 200px; /*altura*/
  background-color: #06c2fb;
  top: 725px;
  left: 300px; /*esquerda*/
  z-index: 3;
}

#componente18 {
  position: absolute; /* componente absoluto que está sobreposto à página */
  width: 450px; /*largura*/
  height: 200px; /*altura*/
  background-color: #bfbfbf;
  top: 725px;
  left: 530px; /*esquerda*/
  z-index: 3;
}