body{
    background-color: #ccc;
}

#topo{
    position: relative;
    width: 1505px; /*altura*/
    height: 150px; /*largura*/
    background-color: aqua;
    text-align: center;
    font-size: 30px;
 
}

#le{
    position: relative;
    width: 1505px;
    height: 600px;
    background-color: rgb(18, 46, 46);
    color: aliceblue;
}

#conteudo{
    position: relative;
    width: 1100px;
    height: 600px;
    background-color: rgb(83, 83, 83);
    float: left;
    text-align: left;
    top: -600px;
    left: 200px;
}

img{
    width: 200px;
    position: relative;
    top: 420px;
    left: 850px;
}

#quadro1{
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #fff;
    top: -590px;
    left: 1310px;
}

#quadro2{
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #fff;
    top: -580px;
    left: 1310px;
}

#rodape{    
    position: relative;
    width: 1505px;
    height: 50px;
    top: -360px;
    background-color: rgb(72, 255, 255);
    color: rgb(0, 0, 0);
}