/* CSS RESET */

*{
    border: 0;
    margin: 0;
    padding: 0;  /*espaço interno entre o conteúdo de um elemento (texto, imagem) e a sua borda (border)*/
    box-sizing: border-box; 
}

main{
    position: relative;
    width: 90%;
    height: 800px; /* é o valor padrão que define a altura de um elemento com base no seu conteúdo interno */
    background-color: rgb(187, 190, 186);
    margin: auto;
    margin-top: 20px;
}

#cabecalho{
    position: relative;
    width: 100%; /* largura */
    height: 20%; /* altura */
    background-color: rgb(25, 225, 92);
    text-align: center;
    font-size: 35px;
}

#esquerdo{
    position: relative;
    width: 35%;
    height: 80%;
    background-color: aquamarine;
    float: left;
}

#navegacao{
    position: relative;
    width: 90%;
    height: 45%;
    background-color: #fff;
    left: 5%;
    margin-top: 3%;
}

aside{
    position: relative;
    width: 90%;
    height: 45%;
    background-color: #fff;
    left: 5%;
    margin-top: 3%;
}

#direito{
    position: relative;
    width: 65%;
    height: 80%;
    background-color: rgb(160, 4, 227);
    float: left;
}

article{
    position: relative;
    width: 90%;
    height: 90%;
    background-color: rgb(221, 236, 231);
    margin-top: 2%;
    float: left;
    left: 5%;
}

h1{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    text-align: center;
    float: left;
}

p{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: rgba(226, 92, 15, 0.63);
    float: left; 
    margin-top: 2%;
}

.imagem{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: rgb(67, 131, 214);
    float: left;
    margin-top: 2%;
}

footer{
    width: 100%;
    height: 10%;
    background-color: rgb(70, 41, 6);
    float: left;
    color: #fff;
    font-size: 15px;
}