/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#fundo{
    position: relative;
    width: 800px; /*largura*/
    height: 760px; /*altura*/
    background-color: aquamarine;
    margin: auto; /*alinha o componente ao centro*/
    margin-top: 30px;
}

#camada1{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: #FF0;
    border: 5px solid #F00;
    text-align: center;
    padding: 5px; /* espaço para dentro da área */
    box-sizing: border-box;
    float: left;
}

#camada2{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: rgb(0, 255, 42);
    border: 5px solid rgb(29, 8, 223);
    text-align: center;
    padding: 5px; /* espaço para dentro da área */
    box-sizing: border-box;
    float: left;
}

#camada3{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: rgb(11, 220, 248);
    border: 5px solid rgb(167, 75, 32);
    text-align: center;
    padding: 5px; /* espaço para dentro da área */
    box-sizing: border-box;
    clear: left;
}

#camada_absoluta{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    top: 150px;
    left: 200px;
    z-index: 2;
}